.live-steaming-detail {
  .detail-wrapper {
    .streamer-block {
      position: relative;
      .play-btn {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: clamp(64px, 6.667vw, 180px);
        height: clamp(64px, 6.667vw, 180px);
      }
      .live-label {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $white;
        background: $accent-1;
        padding: clamp(5px, 0.417vw, 16px) clamp(10px, 0.833vw, 24px);
        font-size: clamp(12px, 0.938vw, 22px);
      }
    }
    .streamer-content-wrapper {
      background: rgba(22, 152, 187, 0.05);
      backdrop-filter: blur(30px);
      padding: 16px clamp(16px, 1.667vw, 48px) clamp(16px, 1.667vw, 48px)
        clamp(16px, 1.667vw, 48px);
    }

    .streamer-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-query(490px){
        align-items: flex-start;
        flex-direction: column;
        row-gap: $gap-32;
    }
    .block-left-side {
        display: flex;
        align-items: center;
        gap: $gap-48;
        @include media-query(490px){
            align-items: flex-start;
            flex-direction: column;
            row-gap: $gap-32;
        }
      }
      .block-right-side {
        display: flex;
        align-items: center;
        gap: $gap-24;
        .like-dislike {
          display: flex;
          align-items: center;
          gap: $gap-12;
          svg {
            path {
              transition: $transition;
            }
          }
          p {
            color: $light-gray;
            transition: $transition;
          }
          &:hover {
            svg {
              path {
                fill: $white;
                transition: $transition;
              }
            }
            p {
              color: $white;
              transition: $transition;
            }
          }
        }
      }
    }
  }

  

  .add-comment {
    display: flex;
    align-items: center;
    gap: $gap-24;
    img{
        width: clamp(48px, 3.333vw, 96px);
        height: clamp(48px, 3.333vw, 96px);
    }
    .comment-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $dark-gray;
      width: 100%;

      input {
        padding-left: 0;
      }
    }
  }
}

.readmore-block {
    .accordion-button-2 {
      display: flex;
      justify-content: space-between;
      margin: 0;
      position: relative;
      color: $white;
      background: transparent;
      padding: clamp(10px, 0.625vw, 30px);
      padding-left: clamp(42px, 2.5vw, 60px);
      border-radius: $br-8;
      font-family: $font-primary;
      font-size: clamp(16px, 0.938vw, 22px);
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21.6px */
      @include media-query(1599px) {
        padding-left: 0;
      }
      @include media-query(399px) {
        font-size: 14px;
      }
      &.collapsed {
        border-radius: 0px;
        padding: clamp(10px, 0.625vw, 30px);
        padding-left: clamp(42px, 2.5vw, 60px);
        margin: 0;
        @include media-query(1599px) {
          padding-left: 0;
        }

        &::after {
          background-image: none !important;
          color: $white;
          content: "\f078";
          font-family: $font-awesome;
        }
      }
      &:not(.collapsed) {
        color: $white;
        box-shadow: none;
      }
      &:focus {
        border: none;
        box-shadow: none;
      }
      &::after {
        content: "\f077";
        font-family: $font-awesome;
        background-image: none !important;
        position: absolute;
        top: 12px;
        right: 44%;
        font-weight: 300;
        color: $white;
        font-size: clamp(16px, 1.042vw, 26px);
        cursor: pointer;
        @include media-query(1699px) {
          right: 45%;
        }
        @include media-query(1024px) {
          right: 43%;
        }
        @include media-query(820px) {
          right: 41%;
          top: 8px;
        }
        @include media-query(490px) {
          right: 32%;
          top: 10px;
        }
      }
    }
}

.review-area {
  .review-block {
    display: flex;
    align-items: flex-start;
    gap: $gap-16;

    &.block-2 {
      padding-left: clamp(32px, 4.3vw, 120px);
    }
    .image-box {
      display: flex;
      flex-shrink: 0;
      img {
        border-radius: 5px;
        width: clamp(48px, 3.646vw, 96px);
      }
    }
    .text-box {
      .reply-btn {
        font-size: 16px;
        font-weight: 600;
        color: $white;
        transition: $transition;
        &:hover {
          transition: $transition;
          color: $accent-1;
        }
      }
    }
  }
}
